.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(62,88,69,.4);
  color: #fff;
  padding: 8px 0;
}
.header__content__phone {
  text-align: right;
  p {
    font-size: 1.3rem;
  }
  a {
    font-size: 1.7rem;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  @media (max-width: 580px) {
    text-align: center;
  }
}
.header__content__button {
  margin-top: auto;
  margin-bottom: auto;
  @media (max-width: 580px) {
    margin-top: 1rem;
    text-align: center;
  }
}
